<!DOCTYPE html>
<html>

<head>
    <title>Line Chart</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <canvas id="myChart"></canvas>
    </div>

    <script>
        function generateColor() {
            function random(min, max) {
                return Math.floor(Math.random() * (max - min + 1)) + min;
            }

            let r = random(0, 255);
            let g = random(0, 255);
            let b = random(0, 255);

            if ((r > 200 && g > 200 && b > 200) || (r < 100 && g < 100 && b < 100)) {
                return generateColor();
            }

            for (let color of generatedColors) {
                let [oldR, oldG, oldB] = color.match(/\d+/g).map(Number);
                if (Math.abs(r - oldR) + Math.abs(g - oldG) + Math.abs(b - oldB) < 255 * 0.55) {
                    return generateColor();
                }
            }

            let newColor = `rgba(${r}, ${g}, ${b}, ${random(65, 90) / 100})`;
            generatedColors.push(newColor);

            return newColor;
        }

        let generatedColors = [];

        window.onload = function () {
            fetch('http://localhost:5000/api/get_marks/')
                .then(response => response.json())
                .then(data => {
                    let counter = {}; // объект для подсчета количества оценок для каждого значения
                    let labels = Object.values(data.tutor_diagram).map(item => item.fullName);
                    let marksData = Object.values(data.tutor_diagram).map(item => item.marks).flat();

                    // Заполнение объекта счетчика
                    marksData.forEach(mark => {
                        counter[mark] = (counter[mark] || 0) + 1;
                    });

                    // Поиск самой часто встречающейся оценки
                    let mostFrequentMark = Object.keys(counter).reduce((a, b) => counter[a] > counter[b] ? a : b);

                    let datasets = [{
                        label: 'Частота оценок',
                        data: Object.values(counter),
                        backgroundColor: generateColor(), // Генерация цвета для каждого столбца
                        borderColor: generateColor(), // Генерация цвета для границ столбцов
                        borderWidth: 1
                    }];

                    let ctx = document.getElementById('myChart');
                    let myChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: Object.keys(counter),
                            datasets: datasets
                        },
                        options: {
                            interaction: {
                                mode: 'index',
                                intersect: false,
                            },
                            plugins: {
                                legend: {
                                    display: false
                                }
                            },
                            scales: {
                                x: {
                                    title: {
                                        display: true,
                                        text: 'Оценки'
                                    }
                                },
                                y: {
                                    beginAtZero: true,
                                    title: {
                                        display: true,
                                        text: 'Количество оценок'
                                    }
                                }
                            }
                        }
                    });

                    // Отображение наиболее часто встречающейся оценки
                    document.getElementById('mostFrequentMark').innerText = `Самая частая оценка: ${mostFrequentMark}`;
                })
                .catch(error => console.error('Error:', error));
        };


    </script>
</body>

</html>