{% extends "components/base.html" %}
{% block title %} Load Data {% endblock title %}
{% load static %}
{% block main %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="form-container bg-secondary p-4 rounded">
                <h3 class="text-center text-light mb-4">Скачать Рэйтинг преподавателей</h3>
                <div class="d-flex justify-content-around">
                    <button id="with-comments" class="btn btn-primary btn-block">Рэйтинг с комментариями</button>
                    <button id="without-comments" class="btn btn-primary btn-block">Рэйтинг без комментариев</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main %}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('with-comments').addEventListener('click', function () {
            downloadRating(true);
        });

        document.getElementById('without-comments').addEventListener('click', function () {
            downloadRating(false);
        });

        function downloadRating(withComments) {
            let xhr = new XMLHttpRequest();
            xhr.open('GET', '/get_comments/?with_comments=' + withComments, true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.responseType = 'blob';

            xhr.onload = function () {
                if (xhr.status === 200) {
                    let blob = xhr.response;
                    let link = document.createElement('a');
                    link.href = window.URL.createObjectURL(blob);
                    link.download = 'get_comments.html';
                    link.click();
                }
            };

            xhr.send();
        }
    });
</script>