{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/bootstrap/css/bootstrap.css' %}" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <link rel="stylesheet" href="{% static 'css/fontawesome/css/all.css' %}" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <title>Tutors Diagram</title>
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <canvas id="barChart"></canvas>
      </div>
      <div class="col-md-4">
        <canvas id="donutChart"></canvas>
      </div>
      <div class="col-md-4">
        <canvas id="pieChart"></canvas>
      </div>
    </div>
  </div>
</body>

<script>
  fetch('https://platonus-mark.medkrmu.kz/dashboard/tutors')
    .then(response => response.json())
    .then(data => {
      const filteredData = data.data.filter(item => item.has_access === "1");

      const cafedraCounts = {};
      const nameRuCounts = { "Преподаватель": 0 }; // Значение по умолчанию для "Преподаватель"
      const rates = [];

      filteredData.forEach(item => {
        cafedraCounts[item.cafedraNameRu] = (cafedraCounts[item.cafedraNameRu] || 0) + 1;
        nameRuCounts[item.nameRu || "Преподаватель"] = (nameRuCounts[item.nameRu || "Преподаватель"] || 0) + 1;
        rates.push(parseFloat(item.rate));
      });

      const barCtx = document.getElementById('barChart').getContext('2d');
      new Chart(barCtx, {
        type: 'bar',
        data: {
          labels: Object.keys(cafedraCounts),
          datasets: [{
            label: 'Количество преподавателей',
            data: Object.values(cafedraCounts),
            backgroundColor: Object.keys(cafedraCounts).map(generateColor)
          }]
        },
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      });

      const donutCtx = document.getElementById('donutChart').getContext('2d');
      new Chart(donutCtx, {
        type: 'doughnut',
        data: {
          labels: Object.keys(nameRuCounts),
          datasets: [{
            label: 'Типы преподавателей',
            data: Object.values(nameRuCounts),
            backgroundColor: Object.keys(nameRuCounts).map(generateColor)
          }]
        }
      });

      const pieCtx = document.getElementById('pieChart').getContext('2d');
      new Chart(pieCtx, {
        type: 'pie',
        data: {
          labels: ["Ставка", "Другие"],
          datasets: [{
            label: 'Ставки преподавателей',
            data: [rates.reduce((acc, curr) => acc + curr, 0), rates.length - rates.reduce((acc, curr) => acc + curr, 0)],
            backgroundColor: ["#36a2eb", "#ff6384"]
          }]
        }
      });

    })
    .catch(error => {
      console.error('Ошибка:', error);
    });

  function generateColor() {
    function random(min, max) {
      return Math.floor(Math.random() * (max - min + 1)) + min;
    }

    let r = random(0, 255);
    let g = random(0, 255);
    let b = random(0, 255);

    if ((r > 200 && g > 200 && b > 200) || (r < 100 && g < 100 && b < 100)) {
      return generateColor();
    }

    for (let color of generatedColors) {
      let [oldR, oldG, oldB] = color.match(/\d+/g).map(Number);
      if (
        Math.abs(r - oldR) + Math.abs(g - oldG) + Math.abs(b - oldB) <
        255 * 0.05
      ) {
        return generateColor();
      }
    }
    let generateColor = [];

    let newColor = `rgba(${r}, ${g}, ${b}, ${random(60, 90) / 100})`;
    generatedColors.push(newColor);

    return newColor;
  }
</script>

</html>