<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>tutors</title>
</head>

<body>
  <script>
    var xhr = new XMLHttpRequest();

    xhr.onload = function () {
      if (xhr.status === 200) {
        console.log("Статус код:", xhr.status);
      } else {
        console.error("Ошибка при выполнении запроса. Статус код:", xhr.status);
      }
    };

    xhr.onerror = function () {
      console.error("Произошла ошибка при выполнении запроса.");
    };

    xhr.open("GET", "https://platonus-mark.medkrmu.kz/dashboard/tutors");

    xhr.send();
  </script>
</body>

</html>