[Unit]
Description=Uvicorn ASGI server for Django project
After=network.target

[Service]
User=evgeniy
Group=www-data
WorkingDirectory=/home/evgeniy/Work_projects/ochered/
Environment="DJANGO_SETTINGS_MODULE=django_settings.settings"
Environment="PYTHONPATH=/home/evgeniy/Work_projects/ochered"
Environment="PATH=/home/evgeniy/Work_projects/ochered/venv/bin"
ExecStart=/home/evgeniy/Work_projects/ochered/venv/bin/uvicorn --workers 4 --uds /home/evgeniy/Work_projects/ochered/uvicorn.sock django_settings.asgi:application --lifespan off

[Install]
WantedBy=multi-user.target
