<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Подписание файла</title>
  <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static' ,filename='fontawesome/css/all.css') }}" />
  <style>
    .password-toggle {
      position: relative;
    }

    .toggle-password {
      position: absolute;
      top: 66%;
      right: 10px;
      transform: translateY(-50%);
      cursor: pointer;
    }
  </style>
</head>

<body class="bg-gray-900 text-white">
  <div class="form-container max-w-2xl mx-auto mt-10 px-4 py-8 bg-gray-800 rounded-lg shadow-lg">
    <form id="fileForm" enctype="multipart/form-data" class="flex flex-col items-center">
      <!-- DROPDOWN MENU -->
      <div class="mb-6 w-full max-w-md relative">
        <div id="dropdownMenuButton"
          class="inline-flex items-center w-full px-4 py-2 bg-gray-800 text-white rounded-md cursor-pointer hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-blue-500">
          <span class="truncate placeholder-gray-400">Пакет сертификатов</span>
          <svg class="w-4 h-4 ml-1" fill="none" stroke="currentColor" viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-6-6-6 6"></path>
          </svg>
        </div>
        <div id="dropdownMenu"
          class="hidden absolute z-10 w-full max-w-md mt-1 overflow-hidden rounded-md shadow-lg bg-gray-800 ">
          <div class="flex items-center px-3 py-2">
            <input type="text" id="searchInput"
              class="w-full pl-3 ml-3 focus:outline-none focus:ring-1 focus:ring-blue-500 rounded-md text-black"
              placeholder="Search">
          </div>
          <ul class="max-h-60 overflow-y-auto rounded-md shadow-sm w-full">
            {% for package in packages %}
            <li tabindex="0" class="select-none rounded-b-md hover:bg-purple-500">
              <a href="#" class="block px-4 py-2 text-sm text-white package-option">{{ package }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
        <p id="selectedPackage" class="mt-2 text-sm text-gray-400"></p>
        <button type="button" id="downloadExcel"
          class="text-white bg-gradient-to-br from-pink-500 to-orange-400 hover:bg-gradient-to-bl  focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
          Скачать
          Excel
          <i class="fa-solid fa-file-csv"></i>
        </button>
      </div>
      <!-- PDF Input -->
      <div class="mb-6 w-full max-w-md" id="pdfInputContainer" hidden>
        <label for="fileInput" class="block text-sm text-gray-400 mb-2">PDF файл</label>
        <label for="fileInput"
          class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-700 hover:bg-gray-600">
          <div class="flex flex-col items-center justify-center pt-5 pb-6">
            <i class="fa fa-cloud-upload" aria-hidden="true"></i>
            <p id="pdfFileName" class="mb-2 text-sm text-gray-500">Click to upload or drag and drop</p>
            <p class="text-xs">PDF</p>
          </div>
          <input id="fileInput" type="file" class="hidden" name="file" accept=".pdf" onchange="updateFileName(this)"
            required />
        </label>
      </div>
      <!-- P12 Input -->
      <div class="mb-6 w-full max-w-md">
        <label for="keyPath" class="block text-sm text-gray-400 mb-2">Файл ЭЦП (.p12)</label>
        <label for="keyPath"
          class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-700 hover:bg-gray-600 p-2 text-white">
          <input id="keyPath" type="file" class="hidden" name="keyPath" accept=".p12" onchange="updateFileName(this)"
            required />
          <span id="p12FileName" class="text-white-500">Выберете файл ЭЦП</span>
        </label>
        <span id="p12FileName" class="w-full text-sm text-gray-400 truncate"></span>
      </div>
      <!-- Password Input -->
      <div class="mb-6 w-full max-w-md password-toggle relative">
        <label for="password" class="block text-sm font-medium mb-2">Пароль</label>
        <input type="password" id="password"
          class="bg-gray-700 border border-gray-600 text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          placeholder="•••••••••" required />
        <i class="toggle-password far fa-eye-slash text-gray-400"></i>
      </div>
      <!-- Sign Button -->
      <div class="mb-6">
        <button type="button" onclick="signFiles()" id="signButton"
          class="text-white bg-gradient-to-r from-purple-500 via-purple-600 to-purple-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-purple-300 dark:focus:ring-purple-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
          Подписать файлы
        </button>
      </div>
    </form>
  </div>
  <!-- Error Alert -->
  <div id="alertContainer"
    class="alert-container bg-red-600 fixed top-8 left-1/2 transform -translate-x-1/2 p-4 rounded shadow-lg hidden">
    <span
      class="close-button text-white font-bold absolute top-2 right-4 text-lg cursor-pointer transition duration-300 hover:text-black">&times;</span>
    <strong class="block mb-2">Ошибка:</strong>
    <span id="alertMessage"></span>
  </div>
  <!-- Success Alert -->
  <div id="successContainer"
    class="alert-container bg-green-600 fixed top-8 left-1/2 transform -translate-x-1/2 p-4 rounded shadow-lg hidden">
    <span
      class="close-button text-white font-bold absolute top-2 right-4 text-lg cursor-pointer transition duration-300 hover:text-black">&times;</span>
    <strong class="block mb-2">Успешно:</strong>
    <span id="successMessage"></span>
  </div>
  <script>
    const dropdownMenuButton = document.getElementById('dropdownMenuButton');
    const dropdownMenu = document.getElementById('dropdownMenu');
    const searchInput = document.getElementById('searchInput');
    const listItems = dropdownMenu.querySelectorAll('li');
    const pdfInputContainer = document.getElementById("pdfInputContainer");
    const selectedPackageElem = document.getElementById('selectedPackage');

    let selectedPackage = '';

    dropdownMenuButton.addEventListener('click', () => {
      dropdownMenu.classList.toggle('hidden');
    });

    searchInput.addEventListener('keyup', () => {
      const searchTerm = searchInput.value.toLowerCase();
      listItems.forEach(listItem => {
        const optionText = listItem.textContent.toLowerCase();
        listItem.classList.toggle('hidden', !optionText.includes(searchTerm));
      });
    });

    listItems.forEach(item => {
      item.addEventListener('click', (event) => {
        event.preventDefault();
        selectedPackage = event.target.textContent.trim();
        dropdownMenuButton.querySelector('span').textContent = selectedPackage;
        selectedPackageElem.textContent = `Выбран: ${selectedPackage}`;
        console.log(`Selected package: ${selectedPackage}`);
        dropdownMenu.classList.add('hidden');
        pdfInputContainer.classList.add('hidden');
        document.getElementById("fileInput").removeAttribute("required");
      });
    });
    document.getElementById('downloadExcel').addEventListener('click', function () {
      const selectedPackage = document.getElementById('selectedPackage').textContent.replace('Выбран: ', '').trim();
      if (!selectedPackage) {
        showAlert('Пожалуйста, выберите пакет.');
        return;
      }

      fetch('/download_excel', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ package: selectedPackage })
      })
        .then(response => {
          if (!response.ok) {
            throw new Error('Failed to download Excel file');
          }
          return response.blob();
        })
        .then(blob => {
          const url = window.URL.createObjectURL(blob);
          const a = document.createElement('a');
          a.href = url;
          a.download = `${selectedPackage}.xlsx`;
          document.body.appendChild(a);
          a.click();
          a.remove();
        })
        .catch(error => {
          console.error('Error downloading Excel file:', error);
          showAlert('Ошибка при скачивании файла. Попробуйте позже.');
        });
    });
    const passwordInput = document.getElementById("password");
    const togglePassword = document.querySelector(".toggle-password");

    togglePassword.addEventListener("click", function () {
      const type =
        passwordInput.getAttribute("type") === "text" ? "password" : "text";
      passwordInput.setAttribute("type", type);
      togglePassword.classList.toggle("fa-eye-slash");
      togglePassword.classList.toggle("fa-eye");
    });

    function updateFileName(input) {
      const fileName = input.files[0].name;
      const id = input.id === "fileInput" ? "pdfFileName" : "p12FileName";
      const colorClass =
        input.id === "fileInput" ? "text-white-500 text-lg" : "text-white-500";
      document.getElementById(
        id
      ).innerHTML = `<span class="${colorClass}">${fileName}</span>`;
    }

    async function signFiles() {
      try {
        const host_url = "https://ecp.medkrmu.kz/"
        console.log("Starting file signing process...");
        document.getElementById("signButton").disabled = true;

        const keyPath = document.getElementById("keyPath");
        const password = document.getElementById("password").value;

        if (!selectedPackage && (!keyPath.files.length || !password.trim())) {
          showAlert("Пожалуйста, заполните все поля формы.");
          return;
        }

        const formData = new FormData();

        if (selectedPackage) {
          formData.append("package", selectedPackage);
        } else {
          const fileInput = document.getElementById("fileInput");

          if (fileInput.files[0].type !== "application/pdf") {
            showAlert("Пожалуйста, загружайте только файлы в формате PDF.");
            return;
          }

          formData.append("file", fileInput.files[0]);
        }

        formData.append("keyPath", keyPath.files[0]);
        formData.append("password", password);

        const xhr = new XMLHttpRequest();
        xhr.open("POST", host_url + "/sign", true);

        xhr.responseType = "blob";

        xhr.onload = function () {
          console.log("Response received...");
          if (xhr.status === 200) {
            const blob = new Blob([xhr.response], {
              type: "application/octet-stream",
            });
            const fileName = selectedPackage ? `${selectedPackage}_signed.pdf` : document.getElementById("fileInput").files[0].name.replace(".pdf", "_signed.pdf");
            if (!selectedPackage) {
              const downloadLink = document.createElement("a");
              downloadLink.href = window.URL.createObjectURL(blob);
              downloadLink.setAttribute("download", fileName);
              document.body.appendChild(downloadLink);
              downloadLink.click();
              document.body.removeChild(downloadLink);
              console.log("File signed and downloaded successfully.");
            }
            showSuccess(`Пакет <span class="text-black">${selectedPackage}</span> успешно подписан. Вы можете проверить его <a href="https://certificates.medkrmu.kz/download?selected_path=${selectedPackage}" target="_blank" class="text-yellow-500 underline">здесь</a>.`);

          } else {
            console.error("Failed to sign files. Status code: " + xhr.status);
            showAlert(
              "Ошибка подписи файлов. Пожалуйста, проверьте правильность введенных данных и повторите попытку, а также используйте ЭЦП выданный ОРГАНИЗАЦИЕЙ."
            );
          }
          setTimeout(() => {
            document.getElementById("signButton").disabled = false;
          }, 5000);
        };

        xhr.send(formData);

      } catch (error) {
        console.error("Error in signing files:", error);
        showAlert(
          "Произошла ошибка при подписи файлов. Пожалуйста, попробуйте еще раз позже."
        );
        setTimeout(() => {
          document.getElementById("signButton").disabled = false;
        }, 5000);
      }
    }

    function showAlert(message) {
      const alertContainer = document.getElementById("alertContainer");
      const alertMessage = document.getElementById("alertMessage");
      alertMessage.textContent = message;
      alertContainer.classList.remove("hidden");
    }
    function showSuccess(message) {
      const successContainer = document.getElementById("successContainer");
      const successMessage = document.getElementById("successMessage");
      successMessage.innerHTML = message;
      successContainer.classList.remove("hidden");
    }
    document
      .getElementById("fileForm")
      .addEventListener("submit", function (event) {
        event.preventDefault();
      });

    document.querySelectorAll(".close-button").forEach(function (button) {
      button.addEventListener("click", function () {
        if (this.closest("#alertContainer")) {
          document.getElementById("alertContainer").classList.add("hidden");
        }
        if (this.closest("#successContainer")) {
          document.getElementById("successContainer").classList.add("hidden");
        }
      });
    });
  </script>
</body>

</html>