{% extends "components/base.html" %}

{% block title %}Queue Registration{% endblock title %}

{% block main %}
{% load static %}
<style>
    .qr-container {
        margin-top: 0.75rem;
        text-align: center;
    }

    .text-container {
        padding: 2rem;
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .text-container h2 {
        font-size: 1.5rem;
        color: #343a40;
        font-weight: 700;
    }

    .qr-container img {
        width: 50%;
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .full-width-btn {
        display: block;
        width: 100%;
        height: 70px;
        margin-top: 20px;
        background-color: #28a745;
        border: none;
        border-radius: 30px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        color: white;
        font-size: 1.5rem;
        text-align: center;
        line-height: 70px;
        text-decoration: none;
        transition: background-color 0.3s ease;
    }

    .full-width-btn:hover {
        background-color: #218838;
    }
</style>

<div class="container qr-container">
    <div class="text-container alert alert-warning">
        <h2>QR сканерін сканерлеңіз немесе кезекке тұру үшін түймені басыңыз</h2>
        <h2>Отсканируйте QR или нажмите кнопку чтобы занять очередь</h2>
        <h2>Scan the QR or click the button to get in line</h2>
    </div>
    <img src="{% static 'media/qr-code.png' %}" alt="QR Code" class="img-fluid">
    <a href="{% url 'register_ticket' %}" class="full-width-btn" target="_blank">
        <span class="fw-bolder p-2">Бұрылыс жасаңыз / Занять очередь / Take a place in line</span>
    </a>
</div>

{% endblock main %}