{% extends "components/base.html" %}

{% block title %}Queue list{% endblock title %}

{% block main %}
<div class="container"
    style="width: 100%; max-width: 100%; max-height: 100vh; overflow: hidden; padding: 10px 20px; margin: 0; background-color: #fff;">

    <div class="alert alert-success d-none" role="alert" id="ticket-called-alert">
        Ticket {{ ticket.number }} has been called!
    </div>

    <div class="row">
        <div class="col-md-6 mb-4" style="padding: 0; flex-grow: 1;">
            <h2 class="h4-1"><span>Үстелге келіңіз</span> | <span>Подойдите к столу</span> | <span>Come to the
                    table</span></h2>
            <ul id="in-progress-list" class="list-group">
                {% for ticket in in_progress_tickets %}
                <li class="list-group-item list-group-item-danger in-progress" data-ticket="{{ ticket.number }}">
                    № <span>{{ ticket.number }}</span>
                    <div>
                        <span>Үстелге келіңіз</span>
                        <span>Подойдите к столу</span>
                        <span>Come to the table</span>
                    </div>
                    № <span>{{ ticket.consultant.table_number }}</span>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-6 mb-4" style="padding: 0; width: fit-content;">
            <h2 class="h4-2"><span>Кезек</span> | <span>Очередь</span> | <span>Queue</span></h2>
            <ul id="waiting-list" class="list-group">
                {% for ticket in waiting_tickets %}
                <li class="list-group-item list-group-item-secondary waiting" data-ticket="{{ ticket.number }}">
                    № <span>{{ ticket.number }}</span>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<script>
    const ws = new WebSocket(`ws://${window.location.host}/ws/queue/`);

    ws.onmessage = function (event) {
        const data = JSON.parse(event.data);
        const action = data.action;

        if (action === 'call_next') {
            updateInProgress(data.ticket_number, data.table_number);
        } else if (action === 'complete_ticket') {
            removeInProgress(data.ticket_number);
        } else if (action === 'new_ticket') {
            addWaiting(data.ticket_number);
        }
    };

    function updateInProgress(ticketNumber, tableNumber) {
        const inProgressList = document.getElementById('in-progress-list');
        const listItem = document.createElement('li');
        listItem.classList.add('list-group-item', 'list-group-item-danger', 'in-progress');
        listItem.setAttribute('data-ticket', ticketNumber);

        listItem.innerHTML = `
        № <span>${ticketNumber}</span>
        <div>
            <span>Үстелге келіңіз</span>
            <span>Подойдите к столу</span>
            <span>Come to the table</span>
        </div>
        № <span>${tableNumber}</span>
    `;

        inProgressList.appendChild(listItem);

        removeWaiting(ticketNumber);
    }

    function removeInProgress(ticketNumber) {
        const inProgressList = document.getElementById('in-progress-list');
        const listItem = document.querySelector(`#in-progress-list li[data-ticket="${ticketNumber}"]`);
        if (listItem) {
            inProgressList.removeChild(listItem);
        }
    }

    function addWaiting(ticketNumber) {
        const waitingList = document.getElementById('waiting-list');
        const listItem = document.createElement('li');
        listItem.classList.add('list-group-item', 'list-group-item-secondary', 'waiting');
        listItem.setAttribute('data-ticket', ticketNumber);

        listItem.innerHTML = `№ <span>${ticketNumber}</span>`;

        waitingList.appendChild(listItem);
    }

    function removeWaiting(ticketNumber) {
        const waitingList = document.getElementById('waiting-list');
        const listItem = document.querySelector(`#waiting-list li[data-ticket="${ticketNumber}"]`);
        if (listItem) {
            waitingList.removeChild(listItem);
        }
    }

    setInterval(function () {
        location.reload();
    }, 7000);
</script>
{% endblock main %}