{% extends "components/base.html" %}

{% block title %}Queue KRMU{% endblock %}
{% load static %}

{% block main %}
<link rel="stylesheet" href="{% static 'css/style_queue.css' %}" />

<section class="container-fluid">
    <div class="header-container">
        <!-- Информация о консультанте -->
        <div class="consultant-info">
            {% if not consultant.user.first_name or not consultant.user.last_name %}
            <h1 class="currentConsultant">Консультант</h1>
            {% else %}
            <h1 class="currentConsultant">Консультант: {{ consultant.user.last_name }} {{ consultant.user.first_name }}
            </h1>
            {% endif %}
            <a href="{% url 'profile' username=request.user.username %}" class="profile-link">
                Мой профиль <i class="fa-solid fa-user profile-icon"></i>
            </a>
        </div>

        <!-- Ожидающие -->
        <h3 class="waiting-h3">Ожидающие <span id="total-waiter">{{ total_waiter }}</span></h3>
    </div>

    <div class="tickeTable">
        <!-- Текущий талон -->
        <h2 class="tickeTable-ticket text-center" id="current-ticket">
            {% if current_ticket %}
            <span id="current-ticket-text" hidden>Текущий Талон:</span>
            <span id="current-ticket-number">{{ current_ticket.number }}</span>
            {% else %}
            <span class="no-ticket">
                <i class="fa fa-ticket"></i>
                <span class="no-ticket-text">Нет талона</span>
            </span>
            {% endif %}
        </h2>


        <!-- Номер стола -->
        <h2 class="tickeTable-table text-danger text-center">Стол <span>№{{ consultant.table_number }}</span></h2>
    </div>


<span id="ticket-timer" class="timer" {% if current_ticket %}
    data-start-time="{{ current_ticket.in_progress_at|date:'U' }}" {% endif %}>
</span>

    <!-- Список ожидающих талонов -->
    <div class="col-md-8 mx-auto">
        <ul id="waiting-tickets" class="list-group">
            {% for ticket in tickets %}
            <li class="list-group-item" id="ticket-{{ ticket.number }}">Талон {{ ticket.number }}</li>
            {% empty %}
            <li class="list-group-item">Нет талонов</li>
            {% endfor %}
        </ul>
    </div>

    <!-- Управление -->
    {% if request.user.is_authenticated %}
    <div class="line-buttons">
        {% if request.user.is_staff %}
        <a href="{% url 'statistic' %}" class="btn btn-statistics">Статистика</a>
        {% endif %}

        <button class="btn btn-primary {% if current_ticket %}d-none{% endif %}" id="call-next">Вызвать</button>
        <button class="btn btn-warning {% if not current_ticket %}d-none{% endif %}"
            id="complete-ticket">Закончить</button>

        <!-- Перенаправление -->
        {% if current_ticket %}
        <div class="transfer-section d-none" id="transfer-menu">
            <label for="transfer-consultant">Перенаправить талон на:</label>
            <select id="transfer-consultant" class="form-select">
                <option value="">Выберите консультанта</option>
                {% for consultant in available_consultants %}
                <option value="{{ consultant.id }}">{{ consultant.user.first_name }} {{ consultant.user.last_name }}</option>
                {% endfor %}
            </select>
            <button class="btn btn-secondary mt-2" id="transfer-ticket">Перенаправить</button>
        </div>
        {% endif %}

        <a href="/logout/" class="btn btn-logout">Выйти</a>
    </div>
    {% endif %}
</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function updateTicketTimer() {
        const timerElement = document.getElementById('ticket-timer');
        if (!timerElement) return;

        const startTime = parseInt(timerElement.getAttribute('data-start-time'), 10);
        if (!startTime) {
            console.log("Start time not found");
            return;
        }

        const now = Math.floor(Date.now() / 1000);
        const elapsedTime = now - startTime;

        const minutes = Math.floor(elapsedTime / 60);
        const seconds = elapsedTime % 60;

        console.log(`Elapsed time: ${minutes} min ${seconds} sec`);

        timerElement.textContent = `${minutes} мин ${seconds} сек`;

        if (minutes >= 25) {
            timerElement.classList.add('blinking');
            timerElement.innerHTML += `<span class="alert alert-custom">Время обслуживания превышает допустимое</span>`;
        } else {
            timerElement.classList.remove('blinking');
        }
    }

    function updateTicketDisplay(ticketNumber = null) {
        const ticketElement = $('#current-ticket span');
        const timerElement = $('#ticket-timer');

        if (ticketNumber) {
            ticketElement.removeClass('no-ticket').text(ticketNumber);
            timerElement.attr('data-start-time', Math.floor(Date.now() / 1000)).show();
        } else {
            ticketElement.addClass('no-ticket').html('<i class="fa fa-ticket"></i><span class="no-ticket-text">Нет талона</span>');
            timerElement.text('').hide();
        }
    }

    const csrftoken = getCookie('csrftoken');
    const consultantId = "{{ consultant.id }}";
    let queueSocket = new WebSocket(
        (window.location.protocol === 'https:' ? 'wss://' : 'ws://') + window.location.host + '/ws/queue/' + consultantId + '/'
    );

    $('#transfer-ticket').click(function () {
        const newConsultantId = $('#transfer-consultant').val();
        const currentTicketNumber = $('#current-ticket-number').text();

        if (!newConsultantId) {
            alert("Выберите консультанта для перенаправления");
            return;
        }

        queueSocket.send(JSON.stringify({
            'action': 'transfer_ticket',
            'ticket_number': currentTicketNumber,
            'new_consultant_id': newConsultantId
        }));

        $('#transfer-menu').addClass('d-none');
        $('#complete-ticket').addClass('d-none');
        $('#call-next').removeClass('d-none');
        updateTicketDisplay(null);
    });

    queueSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        const action = data.action;
        const ticketNumber = data.ticket_number;
        const consultantId = data.consultant_id;

        if (action === 'call_next') {
            if (consultantId == "{{ consultant.id }}") {
                updateTicketDisplay(ticketNumber);
                $('#complete-ticket').removeClass('d-none');
                $('#call-next').addClass('d-none');
                $('#transfer-menu').removeClass('d-none');
            }
        } else if (action === 'complete_ticket') {
            if (consultantId == "{{ consultant.id }}") {
                updateTicketDisplay(null);
                $('#complete-ticket').addClass('d-none');
                $('#call-next').removeClass('d-none');
                $('#transfer-menu').addClass('d-none');
            }
        } else if (action === 'transfer_ticket') {
            if (consultantId == "{{ consultant.id }}") {
                updateTicketDisplay(null);
                $('#complete-ticket').addClass('d-none');
                $('#call-next').removeClass('d-none');
            } else if (data.new_consultant_id == "{{ consultant.id }}") {
                updateTicketDisplay(ticketNumber);
                $('#complete-ticket').removeClass('d-none');
                $('#call-next').addClass('d-none');
                $('#transfer-menu').removeClass('d-none');
            }
        } else if (action === 'new_ticket') {
            $('#waiting-tickets').append('<li class="list-group-item" id="ticket-' + ticketNumber + '">Талон ' + ticketNumber + '</li>');
            $('#total-waiter').text(parseInt($('#total-waiter').text()) + 1);
        }

        if (action === 'call_next' || action === 'complete_ticket' || action === 'new_ticket' || action === 'transfer_ticket') {
            updateQueue();
        }
    };

    $('#call-next').click(function () {
        queueSocket.send(JSON.stringify({
            'action': 'call_next'
        }));

        $('#complete-ticket').removeClass('d-none');
        $('#call-next').addClass('d-none');
        $('#transfer-menu').removeClass('d-none');

        updateTicketDisplay(null);
    });

    $('#complete-ticket').click(function () {
        queueSocket.send(JSON.stringify({
            'action': 'complete_ticket'
        }));
        updateTicketDisplay(null);
    });

    function updateQueue() {
        $.getJSON('{% url "queue" %}', function (data) {
            $('#waiting-tickets').empty();
            $('#total-waiter').text(data.tickets.length);
            data.tickets.forEach(function (ticket) {
                $('#waiting-tickets').append('<li class="list-group-item" id="ticket-' + ticket.number + '">Талон ' + ticket.number + '</li>');
            });
        });
    }

    $(document).ready(function () {
        updateQueue();
        setInterval(updateTicketTimer, 1000);
    });

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
</script>
{% endblock %}