{% extends "components/base.html" %}

{% block title %}Queue list{% endblock title %}
{% load static %}

{% block main %}
<div class="container"
    style="width: 100%; max-width: 100%; max-height: 100vh; overflow: hidden; padding: 10px 20px; margin: 0; background-color: #fff;">
    <div class="row">
        <div class="col-md-6 mb-4" style="padding: 0; flex-grow: 1; position: relative;">
            <div
                style="border-right: 7.5px solid #2ed398; position: absolute; top: 0; bottom: 0; right: 0; z-index: 1;">
            </div>
            <h2 class="h4-1" style="padding-right: 15px; position: relative; z-index: 2;">
                <span>Үстелге келіңіз</span> | <span>Подойдите к столу</span> | <span>Come to the table</span>
            </h2>
            <ul id="in-progress-list" class="list-group" style="position: relative; z-index: 2;">
                {% for ticket in in_progress_tickets %}
                <li class="list-group-item list-group-item-danger in-progress" data-ticket="{{ ticket.number }}">
                    № <span>{{ ticket.number }}</span>
                    <div>
                        <span>Үстелге келіңіз</span>
                        <span>Подойдите к столу</span>
                        <span>Come to the table</span>
                    </div>
                    № <span>{{ ticket.consultant.table_number }}</span>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-6 mb-4" style="padding: 0; width: fit-content;">
            <h2 class="h4-2"><span>Кезек</span> | <span>Очередь</span> | <span>Queue</span></h2>
            <ul id="waiting-list" class="list-group">
                {% for ticket in waiting_tickets %}
                <li class="list-group-item list-group-item-secondary waiting" data-ticket="{{ ticket.number }}">
                    № <span>{{ ticket.number }}</span>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<script>
    const notificationSound = new Audio("{% static 'media/sounds/Announcement.mp3' %}");

    let voicesReady = false;
    let pendingCallNext = null;

    const createInvisibleButton = () => {
        const button = document.createElement('button');
        button.style.display = 'none';
        button.addEventListener('click', () => {
            console.log('Simulated user interaction for speechSynthesis.');
        });
        document.body.appendChild(button);
        return button;
    };

    const invisibleButton = createInvisibleButton();

    const initializeVoices = () => {
        const voices = window.speechSynthesis.getVoices();
        if (voices.length > 0) {
            voicesReady = true;
            if (pendingCallNext) {
                simulateClickAndRead(pendingCallNext.ticketNumber, pendingCallNext.tableNumber);
                pendingCallNext = null;
            }
        }
    };

    window.speechSynthesis.onvoiceschanged = () => {
        initializeVoices();
    };

    const wsProtocol = window.location.protocol === 'https:' ? 'wss://' : 'ws://';
    const ws = new WebSocket(`${wsProtocol}${window.location.host}/ws/queue/`);

    ws.onmessage = (event) => {
        const data = JSON.parse(event.data);
        const { action, ticket_number, table_number } = data;

        if (action === 'call_next') {
            updateInProgress(ticket_number, table_number);

            if (voicesReady) {
                playNotificationAndRead(ticket_number, table_number);
            } else {
                pendingCallNext = { ticketNumber: ticket_number, tableNumber: table_number };
            }
        } else if (action === 'complete_ticket') {
            removeInProgress(ticket_number);
        } else if (action === 'new_ticket') {
            addWaiting(ticket_number);
            invisibleButton.click();
        } else if (action === 'transfer_ticket') {
            updateTransferInProgress(ticket_number);
        }
    };

    const playNotificationAndRead = (ticketNumber, tableNumber) => {
        notificationSound.play(); 
        notificationSound.onended = () => {
            simulateClickAndRead(ticketNumber, tableNumber); 
        };
    };

    const updateInProgress = (ticketNumber, tableNumber) => {
        const inProgressList = document.getElementById('in-progress-list');
        const previousCall = document.querySelector(`#in-progress-list li[data-ticket="${ticketNumber}"]`);
        if (previousCall) previousCall.remove();

        const listItem = document.createElement('li');
        listItem.classList.add('list-group-item', 'list-group-item-danger');
        listItem.setAttribute('data-ticket', ticketNumber);
        listItem.innerHTML = `
        № <span>${ticketNumber}</span>
        <div> 
            <span>Үстелге келіңіз</span> 
            <span>Подойдите к столу</span> 
            <span>Come to the table</span>
        </div>
        № <span>${tableNumber}</span>
    `;
        inProgressList.appendChild(listItem);
        removeWaiting(ticketNumber);
    };

    const removeInProgress = (ticketNumber) => {
        const listItem = document.querySelector(`#in-progress-list li[data-ticket="${ticketNumber}"]`);
        if (listItem) listItem.remove();
    };

    const addWaiting = (ticketNumber) => {
        const waitingList = document.getElementById('waiting-list');
        const listItem = document.createElement('li');
        listItem.classList.add('list-group-item', 'list-group-item-secondary');
        listItem.setAttribute('data-ticket', ticketNumber);
        listItem.innerHTML = `№ <span>${ticketNumber}</span>`;
        waitingList.appendChild(listItem);
    };

    const removeWaiting = (ticketNumber) => {
        const listItem = document.querySelector(`#waiting-list li[data-ticket="${ticketNumber}"]`);
        if (listItem) listItem.remove();
    };

    const updateTransferInProgress = (ticketNumber) => {
        removeWaiting(ticketNumber);
    };

    const simulateClickAndRead = (ticketNumber, tableNumber) => {
        try {
            const input = document.createElement('input');
            input.type = 'text';
            input.id = 'hiddenInput';
            input.value = `Талон ${ticketNumber}, стол ${tableNumber}`;
            input.style.display = 'none';
            document.body.appendChild(input);

            const button = document.createElement('button');
            button.style.display = 'none';
            button.addEventListener('click', () => {
                const text = document.getElementById('hiddenInput').value;
                handleSpeech(ticketNumber, tableNumber);
            });

            document.body.appendChild(button);
            button.click();
            document.body.removeChild(button);
            document.body.removeChild(input);
        } catch (error) {
            console.error('Ошибка при симуляции клика или чтении:', error);
        }
    };

    const handleSpeech = async (ticketNumber, tableNumber) => {
        try {
            const ticketNumberKz = translateNumberToKazakh(ticketNumber);
            const tableNumberKz = translateNumberToKazakh(tableNumber);

            const messageKz = `№${ticketNumberKz} билет, ${tableNumberKz}-кестеге келыныз`;
            const messageRu = `Талон №${ticketNumber}, подойдите к столу ${tableNumber}`;
            const messageEn = `Ticket №${ticketNumber}, come to table ${tableNumber}`;

            await speakWithAvailableVoice(messageKz, 'ru-RU', 1.0, 1.1, 1.0);
            await speakWithAvailableVoice(messageRu, 'ru-RU', 1.1, 1.1, 1.0);
            await speakWithAvailableVoice(messageEn, 'en-US', 1.0, 0.9, 1.3);
        } catch (error) {
            console.error('Ошибка при чтении текста:', error);
        }
    };

    const speakWithAvailableVoice = (text, lang, rate, pitch, volume) => {
        return new Promise((resolve) => {
            try {
                const voices = window.speechSynthesis.getVoices();
                const availableVoice = voices.find(voice => voice.lang === lang) || voices[0];

                const utterance = new SpeechSynthesisUtterance(text);
                utterance.lang = lang;
                utterance.voice = availableVoice;
                utterance.rate = rate; // Adjust rate to make speech more natural
                utterance.pitch = pitch; // Adjust pitch for a more human sound
                utterance.volume = volume; // Adjust volume for softer tones
                utterance.onend = resolve;

                window.speechSynthesis.speak(utterance);
            } catch (error) {
                console.error(`Ошибка при попытке прочитать текст на языке ${lang}:`, error);
                resolve();
            }
        });
    };

    const translateNumberToKazakh = (number) => {
        const units = ["ноль", "бир", "эки", "уш", "тёрт", "бес", "алты", "жеты", "сегиз", "тогыз"];
        const tens = ["", "он", "жийырма", "отыз", "кырык", "елу", "алпыс", "жетпис", "сексен", "токсан"];
        const hundreds = ["", "жуз", "эки жуз", "уш жуз", "тёрт жуз", "бес жуз", "алты жуз", "жеты жуз", "сегиз жуз", "тогыз жуз"];

        if (number < 10) return units[number];
        if (number < 100) return `${tens[Math.floor(number / 10)]} ${units[number % 10]}`.trim();
        if (number < 1000) {
            return `${hundreds[Math.floor(number / 100)]} ${tens[Math.floor((number % 100) / 10)]} ${units[number % 10]}`.trim();
        }

        const thousands = Math.floor(number / 1000);
        const remainder = number % 1000;
        return `${translateNumberToKazakh(thousands)} мын ${translateNumberToKazakh(remainder)}`.trim();
    };


</script>




{% endblock main %}