{% extends "components/base.html" %}

{% block title %}Queue KRMU{% endblock %}
{% load static %}

{% block main %}
<link rel="stylesheet" href="{% static 'css/style_queue.css' %}" />
<section class="container-fluid">
    <div class="header-container">
        <div class="consultant-info">
            {% if not consultant.user.first_name or not consultant.user.last_name %}
            <h1 class="currentConsultant">Консультант</h1>
            {% else %}
            <h1 class="currentConsultant">Консультант: {{ consultant.user.last_name }} {{ consultant.user.first_name }}
            </h1>
            {% endif %}
            <a href="{% url 'profile' username=request.user.username %}" class="profile-link">
                Мой профиль <i class="fa-solid fa-user profile-icon"></i>
            </a>
        </div>
        <h3 class="waiting-h3">Ожидающие <span id="total-waiter">{{ total_waiter }}</span></h3>
    </div>

    <div class="tickeTable">
        <h2 class="tickeTable-ticket text-center" id="current-ticket">
            Текущий Талон: <span>
                {% if current_ticket %}
                {{ current_ticket.number }}
                {% else %}
                ----
                {% endif %}
            </span>
            <div id="ticket-timer" class="timer" {% if current_ticket %}
                data-start-time="{{ current_ticket.in_progress_at|date:'U' }}" {% endif %}>
            </div>
        </h2>
        <h2 class="tickeTable-table text-danger text-center">Стол <span>№{{ consultant.table_number }}</span></h2>
    </div>

    <div class="col-md-8 mx-auto">
        <ul id="waiting-tickets" class="list-group">
            {% for ticket in tickets %}
            <li class="list-group-item" id="ticket-{{ ticket.number }}">Талон {{ ticket.number }}</li>
            {% empty %}
            <li class="list-group-item"> Нет талонов</li>
            {% endfor %}
        </ul>
    </div>

    {% if request.user.is_authenticated %}
    <div class="line-buttons">
        {% if request.user.is_staff %}
        <a href="{% url 'statistic' %}" class="btn btn-statistics">Статистика</a>
        {% endif %}
        <button class="btn btn-primary {% if current_ticket %}d-none{% endif %}" id="call-next">Вызвать</button>
        <button class="btn btn-warning {% if not current_ticket %}d-none{% endif %}"
            id="complete-ticket">Закончить</button>
        <a href="/logout/" class="btn btn-logout">Выйти</a>
    </div>
    {% endif %}
</section>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function updateTicketTimer() {
        const timerElement = document.getElementById('ticket-timer');
        if (!timerElement) return;

        const startTime = parseInt(timerElement.getAttribute('data-start-time'), 10);
        if (!startTime) return;

        const now = Math.floor(Date.now() / 1000);
        const elapsedTime = now - startTime;

        const minutes = Math.floor(elapsedTime / 60);
        const seconds = elapsedTime % 60;

        timerElement.textContent = `${minutes} мин ${seconds} сек`;

        if (minutes >= 25) {
            timerElement.classList.add('blinking');
            timerElement.innerHTML += `<div class="alert alert-custom">Время обслуживания превышает допустимое</div>`;
        } else {
            timerElement.classList.remove('blinking');
        }
    }

    const csrftoken = getCookie('csrftoken');
    const consultantId = "{{ consultant.id }}";
    const queueSocket = new WebSocket(
        'ws://' + window.location.host + '/ws/queue/' + consultantId + '/'
    );

    queueSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        const action = data.action;
        const ticketNumber = data.ticket_number;
        const consultantId = data.consultant_id;

        console.log(`Received message: action=${action}, ticketNumber=${ticketNumber}, consultantId=${consultantId}`);

        if (action === 'call_next' && consultantId == "{{ consultant.id }}") {
            $('#current-ticket span').text(ticketNumber);
            $('#complete-ticket').removeClass('d-none');
            $('#call-next').addClass('d-none');
            $('#ticket-timer').attr('data-start-time', Math.floor(Date.now() / 1000));
            $('#ticket-timer').show();
        } else if (action === 'complete_ticket' && consultantId == "{{ consultant.id }}") {
            $('#current-ticket span').text('----');
            $('#complete-ticket').addClass('d-none');
            $('#call-next').removeClass('d-none');
            $('#ticket-timer').text('');
            $('#ticket-timer').hide();
        }

        if (action === 'new_ticket') {
            console.log(`Adding new ticket: ${ticketNumber}`);
            $('#waiting-tickets').append('<li class="list-group-item" id="ticket-' + ticketNumber + '">Талон ' + ticketNumber + '</li>');
            $('#total-waiter').text(parseInt($('#total-waiter').text()) + 1);
        }

        if (action === 'call_next' || action === 'complete_ticket' || action === 'new_ticket') {
            updateQueue();
        }
    };

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    $('#call-next').click(function () {
        queueSocket.send(JSON.stringify({
            'action': 'call_next'
        }));
        $('#ticket-timer').attr('data-start-time', Math.floor(Date.now() / 1000));
        $('#ticket-timer').text('0 мин 0 сек');
    });

    $('#complete-ticket').click(function () {
        queueSocket.send(JSON.stringify({
            'action': 'complete_ticket'
        }));
        $('#ticket-timer').hide();
    });

    function updateQueue() {
        $.getJSON('{% url "queue" %}', function (data) {
            $('#waiting-tickets').empty();
            $('#total-waiter').text(data.tickets.length);
            data.tickets.forEach(function (ticket) {
                $('#waiting-tickets').append('<li class="list-group-item" id="ticket-' + ticket.number + '">Талон ' + ticket.number + '</li>');
            });
        });
    }

    $(document).ready(function () {
        updateQueue();
        setInterval(updateTicketTimer, 1000);
    });

</script>

{% endblock %}